<div id="elements" class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header"><h1>Sample Elements on a Page <small>(Isn't BootStrap Awesome?)</small></h1></div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li class="active">Blog Post Name Here</li>
            </ol>
            <p class="lead">First line of paragraph emphasized..</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p><img src="./assets/carousel3.jpg" class="img-thumbnail img-responsive" width="1900" height="964" alt="..."></p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p>A simple ordered list: </p>
            <ul>
              <li><a href="http://uifaces.com/authorized" target="_blank">Get authorized avatar faces for your mockup</a></li>
              <li><a href="http://www.wrapbootstrap.com" target="_blank">Get simple free themes for BootStrap</a></li>
              <li><a href="http://www.kreydle.com" target="_blank">What is Kreydle and what do we do?</a></li>
            </ul>
            <p>A fancy ordered list with icons: </p>
            <ul class="fa-ul">
              <li><a href="http://www.nichify.net" target="_blank"><i class="fa fa-li fa-external-link"></i> Build an Amazon affiliate store in 5 minutes with Nichify!</a></li>
              <li><a href="http://uifaces.com/authorized" target="_blank"><i class="fa fa-li fa-user"></i> Get authorized avatar faces for your mockup</a></li>
              <li><a href="http://www.wrapbootstrap.com" target="_blank"><i class="fa fa-li fa-tag"></i> Get simple free themes for BootStrap</a></li>
            </ul>
            <p>Some content can be <mark>highlighted by default</mark> in BootStrap. </p>
            <div class="well">You can put content in a well to highlight it!</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapse_alertInfo" aria-expanded="true">FYI Only</a>
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapse_alertSuccess" aria-expanded="false">Yeah, Let's Go!</a>
        <a class="btn btn-danger" role="button" data-toggle="collapse" href="#collapse_alertDanger" aria-expanded="false">Danger</a>
        <div class="collapse" id="collapse_alertInfo">
          <p></p>
          <div class="alert alert-info">
            <a>Hey there! Pay attention to this notice because it's really, and I mean REALLY, IMPORTANTE!</a>
          </div>
        </div>
        <div id="collapse_alertSuccess" class="collapse out">
          <p></p>
          <div class="alert alert-success">
            Hey there! Pay attention to this notice because it's really, and I mean REALLY, IMPORTANTE!
          </div>
        </div>
        <div  id="collapse_alertDanger" class="collapse out">
          <p></p>
          <div class="alert alert-danger">
            Hey there! Pay attention to this notice because it's really, and I mean REALLY, IMPORTANTE!
          </div>
        </div><p></p>
      </div>
      <div class="col-md-6">
        <!-- Start Accordion -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div></div>
      <!-- End Accordion -->
    </div>
  </div>
</div>
