<div id="features" class="jumbotron" style="background:transparent;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center palette-headline">
        <h1 class="text-capitalize">Image-Based Content Blocks<br>
          <small>Perfect For Listing Main Benefits</small></h1>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4 text-center">
        <p><img src="./assets/leaf.jpg" width="168" height="150" alt="benefit"> </p>
        <p>&nbsp; </p>
        <h4 class="text-capitalize">Benefit #1 Here</h4>
        <p class="text-muted"><small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small></p>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4 text-center">
        <p><img src="./assets/structure.jpg" width="150" height="150" alt="benefit"></p>
        <p>&nbsp; </p>
        <h4 class="text-capitalize">Benefit #2 Here</h4>
        <p class="text-muted"><small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small></p>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4 text-center">
        <p><img src="./assets/leaf.jpg" width="150" height="150" alt="benefit"></p>
        <p>&nbsp; </p>
        <h4 class="text-capitalize">Benefit #3 Here</h4>
        <p class="text-muted"><small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small></p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

